.container {
  max-width: 100%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 2rem;
  height: 2rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.logoImage {
  /* width: 32px; */
  height: 52px;
  margin: 4px;
}

.title {
  display: inline-block;
}